<% include partials/header1 %>

    <!-- Banner Area Starts -->
    <section class="banner-area other-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About Us</h1>
                    <a href="index.html">Home</a> <span>|</span> <a href="about.html">About Us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Welcome Area Starts -->
    <section class="welcome-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 align-self-center">
                    <div class="welcome-img img-rounded">
                        <img src="assets/images/department3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="welcome-text mt-5 mt-lg-0">
                        <h2>Our Values</h2>
                        <p class="pt-3"><h3>Vision:-</h3>To be a global centre of excellence in healthcare,consultancy & hospitality service’s provider. </p>
						<p class="pt-3"><h3>Mission:-</h3>We are committed to serve and provide our patients need first with safest and highest quality care.We are a corporate entity that is committed to provide excellent health service’s.We will be the best employer that continuosly builds  our people to develop the organisation and vocation.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->

    <!-- Welcome Area Starts -->
    <section class="welcome-area section-padding3">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 align-self-center">
                    <div class="welcome-img">
                        <img src="assets/images/welcome.png" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="welcome-text mt-5 mt-lg-0">
                        <h2>Founders Message</h2>
                        <p class="pt-3">.We know the importance of healthcare in this modern world and we do everything possible to provide people with safe, effective, compassionate and high-quality care.our highly trained consultant medical staff  and supporting staff share common vision in offering excellent patient care.We'll continue to invest in state of the art technology and highly skilled medical professionals to ensure that caring and promoting the health of people remain our primary mission.</p>
                        <p>We have been consistent in our mission to provide high quality healthcare at affordable cost, at the door steps of people.“our patients look to us for hope: hope that we will help them recover quickly, hope for a better quality of life.Hope for cure. It is our responsibility to keep these hopes alive”.</p>
                        <a href="#" class="template-btn mt-3">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->

    <!-- Welcome Area Starts -->
    <section class="welcome-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="welcome-text mt-5 mt-lg-0">
                        <h2>Our Objectives</h2>
                        <p class="pt-3">It often happens that until the patient comes to know about his or her health issues, he keeps consulting doctors suggested by his family and friends.<br>This helps to get control over the issue to an extent but does not help in cutting off the issue from the roots.<br> The disease keeps on growing internally.It often proved fatal and costs a life. Patients often consume certain over the counter drugs, which tend to reduce the symptoms do not help to cure the disease and lead to it becoming more chronic.<br>When a patient is initially diagnosed with a disease, he or she happens to avoid going to specialists considering the large amount of money it would probably cost them.<br>Aiming to keep the patients away from any such illusion. <br>Rapidowell Health care works to provide specialised health care professionals to the patients at an affordable cost with due diagnosis and analysis.We work to build an affordable health care option for our clients.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="welcome-text mt-5 mt-lg-0">
                        <h2>हमारा उद्देश्य</h2>
                        <p class="pt-3">कई बार ऐसा होता है जब तक मरीज को अपने रोग या बीमारी का पता लगता है और वह उस बीमारी के लिए लोगों द्वारा बताए गए डॉक्टरों से या अपने परिचित डॉक्टर से सलाह व परामर्श लेता रहता है.जिससे कुछ हद तक तो बीमारी के लक्षणों में आराम मिल जाता है पर पूर्णता: आराम नहीं मिल पाता और रोग बढ़ता रहता है! जिससे कई बार मरीज को अपनी जान तक गवानी पड़ती है  कई दफाह ऐसा भी देखा गया है की मरीज बीमारियों के लक्षण में आराम के लिए परामर्श  और ओवर थ काउंटर ड्रग लेता रहता है लक्षणों में तो आराम लग जाता है परंतु कुछ समय बाद वह रोग जटिल हो जाता है  अंततः जब मरीज के फैमिली डॉक्टर या परिचित डॉक्टर डायग्नोज़ के बाद किसी बड़े  अस्पताल में कोई स्पेशलिस्ट डॉक्टर को दिखाने  की सलाह देते हैं तो शुरुआत में हुए इलाज के खर्च को देखते हुए मरीज  किसी स्पेशलाइज्ड डॉक्टर  से परामर्श लेने में संकुचता है."ओर यह भटकाव की  स्थिति बनी रहती है"."इन सब परिस्थितियों को देखते हुए रेपिडोवेल हेल्थ केयर का उद्देश्य है कि  एक भटकाव रहित वातावरण उत्पन्न कराना जिसमें मृत्युंजय के स्पेशलाइज्ड हेल्थ केयर एग्जीक्यूटिव डॉक्टर की टीम मरीज की संपूर्ण डायग्नोज़(जाँचो) की रिपोर्ट्स को पूर्णतः एनालिसिस कर उचित डॉक्टर व अस्पताल के बारे में जानकारी प्रदान करायेगी  जिससे रोगी को उचित सुविधा व इलाज मिल सके और वह शीघ्र स्वस्थ हो".</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->

    <!-- Start Align Area -->
    <div class="whole-wrap">
        <div class="container">
                <h2 class="mb-30 title_color">Patient Support</h2>
            <div class="section-top-border text-right">
                <div class="row">
                    <div class="col-md-7">
                        <p class="text-left">Our team of healthcare executive both in state and across the country, make positive impacts on the lives of patients every day. we've implemented in healthcare consultancy and operated programs in the following therapeutic areas. by well experienced doctors .</p>
						<p class="text-left">General Physician, Cardiology, Gastroenterology, Orthopaedics, Dermatology, Pulmonology, Ophthalmology, Diabetology, Dental, Nutrition & Lifestyle, Sexology, Gynecology, Pediatrics, Psychology.</p>
						<p class="text-left">We utilize various offerings and touch points with the patient, physicians and client:</p>
						<h3 class="mb-20 title_color"></h3>
                        <div class="">
                            <ul class="unordered-list text-left">
                                <li>Consult  with specialized doctor  via e-mail ,video chat.</li>
                                <li>Face-to-Face Support and consultancy by doctors.</li>
                                <li>Consult with specialized doctor  via conference call  with our team executive.</li>
                                <li>24×7 callcenter & support in all health issues.</li>
                                <li>Reimbursement Assistance</li>
                                <li>Pharmacies Network</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <img src="assets/images/department3.jpg" alt="" class="img-fluid img-rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include partials/footer1 %>