<% include partials/header1 %>
<div class="jumbotron container-fluid" id="facilities">
	<h1>FACILITIES</h1><br>
	<ul>
		<li>24×7 call center & support in all health issues.</li>
		<li>Consulting of medicine compounding  & their  administration  parameters with  registered pharmacist .</li>
		<li>Consult with specialized doctor  via conference call  with our team executive.</li>
		<li>Consult  with specialized doctor  via e-mail ,video chat.</li>
		<li>In comman diseases our team will also suggest regitered pharmacist suggestions and prescription and the patient is 	also  consulat with pharmacist .</li>
		<li>We provide  online  medical services for rural and urban  area as per  patient  requirments.</li>
		<li>We mange  a health  campaign in rural and urban  area  after survey.</li>
		<li>We manage  a health campaign in rural and urban area after survey and  the  specialist  doctor  team  provides  proper  conulations.</li>
		<li>We offer facility to the  patient  talk to a doctor from anywhere via callor e-mail but patient firstly  make contact with mrityunjay  team executive because  we firstly  taking the permission to the doctor  for patient.</li>
		<li>We providing  facilites to the  patient  related to  the patient  related to diagnosis in a call.</li>
		<li>Nearest “NABL certified” diagnosis laboratory for  examine  exactly.</li>
		<li>Economical diagnosis  test facility i.e; C.T Scan , M.R.I all type  of  blood  test , urine test endoscopy  ,sonography,digital x-ray etc.</li>
		<li>Collection  of  test samples  from home.</li>
		<li>We also  provide preventive  health care  diagnosis  yearly  package @ 3200/-.</li>
		<li>Send your diagnosis report for free examine  at our e-mail or whatsaap-No. 9171618800</li>
	</ul>
</div>

<% include partials/footer1 %>