<% include partials/header1 %>
    <!-- Banner Area Starts -->
    <section class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h4>Caring for better life</h4>
                    <h1>Leading the way in medical excellence</h1>
                    <p>Earth greater grass for good. Place for divide evening yielding them that. Creeping beginning over gathered brought.</p>
                    <a href="/contact" class="template-btn mt-3">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Feature Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding">
                        <img src="assets/images/feature1.png" alt="">
                        <h3>Health Checkup</h3>
                        <p class="pt-3">Good health is the key to a happy and fruitful life; it is also the most neglected asset. Our lifestyle today is ridden with unnecessary stress, irregular working hours, and poor eating habits, late night partying and inadequate rest. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-md-0">
                        <img src="assets/images/feature2.png" alt="">
                        <h3>Pregnancy Care</h3>
                        <p class="pt-3">Well, during her pregnancy, a women needs expert guidance, support and care when she is nurturing another life insider her. This is why she has to be vigilant about choosing the best gynecologist and maternity hospital.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="assets/images/feature3.png" alt="">
                        <h3>Pharmacy Facility</h3>
                        <p class="pt-3">Find and buy medicines online with Rapidowell Pharmacy. Browse through prescription medicines, OTC products, health & wellness products on an online pharmacy that provides hassle free service across 100+ cities in India. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="assets/images/feature4.png" alt="">
                        <h3>Patient Support</h3>
                        <p class="pt-3">Our team of healthcare executive both in state and across the country, make positive impacts on the lives of patients every day. we've implemented in healthcare consultancy and operated programs in therapeutic areas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->

    <!-- Welcome Area Starts -->
    <section class="welcome-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 align-self-center">
                    <div class="welcome-img">
                        <img src="assets/images/doctor2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="welcome-text mt-5 mt-lg-0">
                        <h2>About Us</h2>
                        <p class="pt-3">At Rapidowell we partner with the patient on their healthcare journey. We provide accurate disease state and therapeutic information, reimbursement guidance, adherence and counselling all in a timely fashion as well as actively involve patients in their treatment among much more. Patient questions are answered by reliable and credible professionals across the country. Not only do patient interactions provide valuable information, we are a direct conduit for program feedback.</p>
                        <a href="/aboutus" class="template-btn mt-3">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->

    <!-- Department Area Starts -->
    <section class="department-area section-padding4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>SERVICES</h2>
                        <p>Here are some facilities and services provided by by us.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="department-slider owl-carousel">
                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="assets/images/department1.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Online Pharmacy Facilities</h3>
                                <p>Find and buy medicines online with Rapidowell Pharmacy. Browse through prescription medicines, OTC products, health & wellness products on an online pharmacy that provides hassle free service across 100+ cities in India </p>
                            </div>
                        </div>
                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="assets/images/department1.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Hospitality Support</h3>
                                <p>You needs to go different cities to meet Doctors and to meet the Doctors you may need to stay a night or more in different cities. so, we provide you facility for staying in a Lodge or Hotels in given cities in reasonable rates and location near your consultancy.</p>
                            </div>
                        </div>
                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="assets/images/department2.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Health Checkup Packages</h3>
                                <p>Good health is the key to a happy and fruitful life; it is also the most neglected asset. Our lifestyle today is ridden with unnecessary stress, irregular working hours, and poor eating habits, late night partying and inadequate rest.</p>
                            </div>
                        </div>
                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="assets/images/department3.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Pregnancy Care</h3>
                                <p>Well, during her pregnancy, a women needs expert guidance, support and care when she is nurturing another life insider her. This is why she has to be vigilant about choosing the best gynecologist and maternity hospital and we provide that support to her.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
                        <a href="#" class="template-btn mt-3">Know More</a>
        </div>
    </section>
    <!-- Department Area Starts -->

    <!-- Patient Area Starts -->
    <section class="patient-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 align-self-center">
                    <div class="appointment-form text-center mt-5 mt-lg-0">
                        <h3 class="mb-5">Contact Us</h3>
                        <form action="/" method="POST">
                            <div class="form-group">
                                <input type="text" placeholder="Your Name" name="name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" placeholder="Contact No" name="contact" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contact No'" required> 
                            </div>
                            <div class="form-group">
                                <textarea  cols="20" rows="7" name="comment"  placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required></textarea>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                  <button class="btn btn-default template-btn pull-right" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Patient Area Starts -->

    <!-- Start Align Area -->
    <div class="whole-wrap">
        <div class="container">
                <h2 class="mb-30 title_color">Patient Support</h2>
            <div class="section-top-border text-right">
                <div class="row">
                    <div class="col-md-7">
                        <p class="text-left">Our team of healthcare executive both in state and across the country, make positive impacts on the lives of patients every day. we've implemented in healthcare consultancy and operated programs in the following therapeutic areas. by well experienced doctors .</p>
                        <p class="text-left">General Physician, Cardiology, Gastroenterology, Orthopaedics, Dermatology, Pulmonology, Ophthalmology, Diabetology, Dental, Nutrition & Lifestyle, Sexology, Gynecology, Pediatrics, Psychology.</p>
                        <p class="text-left">We utilize various offerings and touch points with the patient, physicians and client:</p>
                        <h3 class="mb-20 title_color"></h3>
                        <div class="">
                            <ul class="unordered-list text-left">
                                <li>Consult  with specialized doctor  via e-mail ,video chat.</li>
                                <li>Face-to-Face Support and consultancy by doctors.</li>
                                <li>Consult with specialized doctor  via conference call  with our team executive.</li>
                                <li>24×7 callcenter & support in all health issues.</li>
                                <li>Reimbursement Assistance</li>
                                <li>Pharmacies Network</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <img src="assets/images/department3.jpg" alt="" class="img-fluid img-rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>


    
<% include partials/footer1 %>