<% include partials/header1 %>

    <!-- Banner Area Starts -->
    <section class="banner-area other-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Medical Stores</h1>
                    <a href="index.html">Home</a> <span>|</span> <a href="departments.html">Medical Stores</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Patient Area Starts -->
    <section class="patient-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <%medicals.forEach(function(medical){ %>
                    <div class="single-patient mb-4">
                        <img src="<%=medical.image%>" alt="">
                        <h3><%=medical.name%></h3>
                        <h5><%=medical.city%></h5>
                        <p class="pt-3"><a href="/medicals/<%=medical._id%>" class="genric-btn success circle arrow">Know More<span class="lnr lnr-arrow-right"></span></a></p>
                    </div>
                <% }); %>
                </div>
            </div>
        </div>
    </section>
    <!-- Patient Area Starts -->

<% include partials/footer1 %>
