<!DOCTYPE html>
<html>
<head>
      <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Rapido-Well</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/logo/favicon.png" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/animate-3.7.0.css">
    <link rel="stylesheet" href="/assets/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="/assets/css/owl-carousel.min.css">
    <link rel="stylesheet" href="/assets/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="/assets/css/linearicons.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="/text/css" href="/assets/css/form.css">
</head>
<body>
  <div class="jumbotron container-fluid col-md-8" id="login">
  <h1>Enter details for new medical</h1>

  <form action="/medicals" method="POST">
    <div class="mt-10">
          <input type="text" name="name" placeholder="name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'name'" required class="single-input">
      </div>
      <div class="mt-10">
           <input type="text" name="image" placeholder="image" onfocus="this.placeholder = ''" onblur="this.placeholder = 'image'" required class="single-input">
      </div>
      <div class="mt-10">
           <input type="text" name="address" placeholder="address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'address'" required class="single-input">
      </div>
      <div class="mt-10">
           <input type="text" name="city" placeholder="city" onfocus="this.placeholder = ''" onblur="this.placeholder = 'city'" required class="single-input">
      </div>
      <div class="mt-10">
           <input type="email" name="email" placeholder="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'email'" required class="single-input">
      </div>
      <div class="mt-10">
           <input type="tel" name="contact" placeholder="contact no" onfocus="this.placeholder = ''" onblur="this.placeholder = 'contact'" required class="single-input">
      </div>
        <a ><button class="genric-btn success circle arrow">Submit<span class="lnr lnr-arrow-right"></span></button></a>
      
  </form>
  </div>
</body>
</html>






