<% include partials/header1 %>
<div class="jumbotron container-fluid" id="our_objective">
	<h1>OUR OBJECTIVE</h1>
	<div class="container col-sm-8">
		It often happens that until the patient comes to know about his or her health issues, he keeps consulting doctors suggested by his family and friends.
		This helps to get control over the issue to an extent but does not help in cutting off the issue from the roots. The disease keeps on growing internally.
		It often proved fatal and costs a life. Patients often consume certain over the counter drugs, which tend to reduce the symptoms do not help to cure the disease and lead to it becoming more chronic.
		When a patient is initially diagnosed with a disease, he or she happens to avoid going to specialists considering the large amount of money it would probably cost them.
		Aiming to keep the patients away from any such illusion. 
		Rapidowell Health care works to provide specialised health care professionals to the patients at an affordable cost with due diagnosis and analysis.
		We work to build an affordable health care option for our clients.

	</div>
	<div>
		<span class="glyphicon glyphicon-road" id="road"></span>
	</div>
</div>

<% include partials/footer1 %>