<% include partials/header1 %>

	
    <!-- Banner Area Starts -->
    <section class="banner-area other-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Admin Section</h1>
                    <a href="index.html">Home</a> <span>|</span> <a href="blog-home.html">Admin Section</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Start Button -->
    <section class="button-area">
        <div class="container border-top-generic">
            <h3 class="text-heading title_color">Direct access Buttons</h3>
            <div class="button-group-area mt-40">
                <a href="/all-contactus" class="genric-btn default circle arrow">Contact Us Entries<span class="lnr lnr-arrow-right"></span></a>
                <a href="/hospitals" class="genric-btn primary circle arrow">Edit Hospitals<span class="lnr lnr-arrow-right"></span></a>
                <a href="/medicals" class="genric-btn success circle arrow">Edit Medicals<span class="lnr lnr-arrow-right"></span></a>
            </div>
            <div class="button-group-area mt-40">
                <a href="/accomodations" class="genric-btn info circle arrow">Edit accomodation<span class="lnr lnr-arrow-right"></span></a>
                <a href="/hospitals/new" class="genric-btn warning circle arrow">Create Hospital Entry<span class="lnr lnr-arrow-right"></span></a>
                <a href="/accomodations/new" class="genric-btn danger circle arrow">Create Accomodation Entry<span class="lnr lnr-arrow-right"></span></a>
                <a href="/medicals/new" class="genric-btn default circle arrow">Create Medical Entry<span class="lnr lnr-arrow-right"></span></a>
            </div>

        </div>
    </section>
    <!-- End Button -->
    



<% include partials/footer1 %>
  

