<% include partials/header1 %>

<div class="jumbotron container-fluid" id="facilities">
	<h1>Total Pregnancy Care</h1>
Giving Birth to a child remains one of the most sacred aspects of a women’s existence. it is an altogether different experience which is like a reincarnation of a mother. Not just a new life but a new herself is born out of her.
Well, during her pregnancy, a women needs expert guidance, support and care when she is nurturing another life insider her. This is why she has to be vigilant about choosing the best gynecologist and maternity hospital.
Here’s  the team of Rapidowell is committed to provide Best Gynecologists & Maternity Hospitals in no particular order.
Today, “there are numerous maternity hospitals which makes it difficult for to-be parents to choose which hospital would give the best necessary care & amenities. And that is why, we are here to help you find a solution to your dilemma”
Before choosing the right hospital for you, you may keep the following certain criteria in mind – 
<ol>
<li>The location – the proximity from home is crucial in cases of emergency.</li>
<li>Facilities provided – the room, amenities & food for the patient & attender.</li>
<li>Overall cost – cost of scans & tests, delivery package & consultation charges.</li>
<li>Experience & personalized pregnancy care to ensure you have a normal & safe delivery.
From the best gynecologists to the best hospital suites, we know you want what’s best for you & your bundle of joy. </li>
</ol>
So, Our team of best gynecologists & consultants along with specialized Hospital nurses is committed to providing empathetic and caring touch to all health issues related to women.<br>



<p>
Pregnancy is a curical time period when you have to be careful about your health. Regular prenatal checkups are very important to keep a track  of your and the baby’s health.
These regular checkups & tests ensure that both  the mother  and the baby are healthy .it monitors the growth & development of the fetus and keeps you informed about the complication during pregnancy & the delivery  process ,if any.</p>
<h4>REGULAR CHECK-UPS SCHEDULE:-</h4>
<h5>Pregnancy (in weeks) checkup plan:-</h5>
<ul>
<li>4th – 28th week (once a month).</li>
<li>28th - 36th week (twice a month).</li>
<li>36th week - to till the labour (weekly).</li>
<p>
Your first visit to the doctor:-<br>
It is always better to fix an appointment with a doctor you are already familiar with. it helps in maintaining the level of comfort between you and your doctor .
Generally , The first visit  involves lots of interactions your doctor may ask you question regarding your Lifestyle , Relationship Status ,Health ,Habits etc.
He/she may also discuss with you about Pregnancy stages , Pregnancy Diet etc. The doctor may conduct some Physical examination & test like Breast examination , Pelvic examination ,Cervical examination Blood test ,PAP Test etc.
Ultra sound and Urine test are also conducted to check on if there is any sign of health problem in baby or would be mother . Doctor may also check your blood pressure, weight and calculate your pregnancy due  date.
The subsequent prenatal checkups may include measuring “Abdomen” to check baby’s growth , check Baby Heart rate etc. 
You may also go through some test throught pregnancy to check on your Baby’s healthy growth & development.
</p>






<h4>PRENATAL TEST:-</h4>
<p>There are certain test which a would – be mother has to undergo to ensure the safety of the fetus . most of the test are common for every expectant where as some are recommended by the doctor . On the basis of age personal or family health history , ethanic background the result of routine test etc.
Some Of The Common Prenatal Test are:-</p>
<ul>
<li>Chrionic villus sampling (CVS),first trimester screen amniocentesis and Maternal serum screen (AFP) it help in diagnosis  the high risk of chrosomal disorder like down syndrome and trisomy 18 and neural tube defects such as spinabifida.</li>
<li>Glucose challenge screening and glucose tolerance test help in detecting the risk of gestational diabetes to the pregnant mother and the Baby.</li>
<li>Non stess test (NST) is contucted to track the unborn baby health wheather the body is getting enough oxygen or showing any symptomsof distress.</li>
<li>Group B streptococcus infection test is taken to check for the bacteria that can causes phelmonia or serious infection in newborn.</li>
</ul>

<p>
Pregnancy (in week’s)checkups plan:-
	Chorionic villus sampling (CVS)
10 -14 weeks	first trimester screen, NT Scan ,nucal translucency
	
	Amniocentesic
     14 -20 weeks	Maternal serum screen,(AFP)

  	Glucose challenge screening
      24 -28 weeks	Glucose Tolerance Test

      35 -37 weeks	Non strees test (NST)
                                            Group B streptoccus infection

All these test are very importat to keep a track of your baby healty growth So,make sure you don’t miss any of them.
</p>

</div>


<% include partials/footer1 %>